<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77609346532-lvibbd26r4ctapqoqk3otcedv12fooe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77609346532-lvibbd26r4ctapqoqk3otcedv12fooe8</string>
	<key>API_KEY</key>
	<string>AIzaSyDsoAjB6UECvU7sPK0ImDgVI0CvKoEILJI</string>
	<key>GCM_SENDER_ID</key>
	<string>77609346532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.app.uzhindoma</string>
	<key>PROJECT_ID</key>
	<string>uzhin-doma</string>
	<key>STORAGE_BUCKET</key>
	<string>uzhin-doma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77609346532:ios:343913dd6c9476e9fc93f1</string>
</dict>
</plist>